#chat-form {
  background: #F5F5F5;
  display: flex;
  /* grid:  51px / 1fr 27px; */
  align-content: center;
  align-items: center;
  /* grid-gap: 15px; */
  grid-area: chat-form;
  border-radius: 0 0 10px 0;
  border-top: 1px solid rgba(0,0,0,0.25);
  padding-left: 42px;
  padding-right: 22px;
}
  
  #chat-form > img {
    cursor: pointer;
    color: #E0E0E0;
  }
  
  
  
  #chat-form input {
    flex: 1 0;
    outline: none;
    padding: 15px;
    border: 2px solid #ddd;
    color: #330;
    border-radius: 18px;
    font-size: 1.4rem;
    margin: 0 5px;
  }

  button{
    height: 50px;
    border: 2px solid #ddd;
    color: #330;
    border-radius: 18px;
    font-size: 1.4rem;
    flex: 0 0 80px;
  }